alpaca_farm==0.1.9
cpm_kernels==1.0.11
datasets==2.13.0
einops==0.7.0
flash_attn==2.3.3
fuzzywuzzy==0.18.0
jieba==0.42.1
matplotlib==3.7.1
nltk==3.8.1
numpy==1.25.0
openai==0.28.0
pandas==2.0.2
rouge==1.0.1
scipy==1.11.3
seaborn==0.13.0
sentencepiece==0.1.99
spacy==3.7.2
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.31.0
